<h3 class="first">{{'GP_MENU_00334'|i18n}}</h3>

<p-growl [life]=10000 [sticky]="false" [value]="msgs"></p-growl>

<p-dataTable [value]="timesheets"
            [rows]="5"
            scrollable="true"
            scrollHeight="260px"
            sortMode="multiple"
            [responsive]="true"
            [globalFilter]="gb"
            resizableColumns="true"
            [responsive]="true"
            columnResizeMode="expand"
            dataKey="timesheetId"
            #dt exportFilename="timesheets">
    <p-header>
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="{{'CSV'|i18n}}" (click)="dt.exportCSV()" style="float:left"></button>
      </div>
    </p-header>
    <p-column [style]="{'width':'20%'}" field="partyId" header="{{'Party Id'}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="timesheetId" header="{{'Timesheet Id'}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="fromDate" header="{{'From Date'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="thruDate" header="{{'Thru Date'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="contractHours" header="{{'Contract Hours'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="actualHours" header="{{'Actual Hours'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'10%'}" styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()"></button>
        </ng-template>
        <ng-template let-timesheet="rowData" pTemplate="body">
            <button type="button" pButton icon="fa-pencil" (click)="selectTimesheet(timesheet)"></button>
        </ng-template>
    </p-column>
</p-dataTable>

<p-confirmDialog header="{{'Confirmation'|i18n}}" icon="fa fa-question-circle" acceptLabel="{{'Yes'|i18n}}" rejectLabel="{{'No'|i18n}}"></p-confirmDialog>

<p-dialog header="{{'Timesheet Detail'|i18n}}" width="900" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <form [formGroup]="form" novalidate (ngSubmit)="save()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="timesheet">

      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="partyId">{{'Party Id'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-dropdown [options]="partySelectItem" formControlName="partyId" required [(ngModel)]="selectedPartyId"
           [autoWidth]="false" [style]="{'width':'100%'}">
          </p-dropdown>
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['partyId'].valid&amp;&amp;form.controls['partyId'].dirty">
            <i class="fa fa-close"></i>
            {{'Party Id is required'|i18n}}
          </div>
        </div>
      </div>
      <!-- From date -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="fromDate">{{'From Date'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-calendar formControlName="fromDate" [(ngModel)]="timesheet.fromDate" name="fromDate" dateFormat="dd/mm/yy" [showIcon]="true" type='Date'></p-calendar>
        </div>
      </div>
      <!-- Thru date -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="thruDate">{{'Thru Date'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-calendar formControlName="thruDate" [(ngModel)]="timesheet.thruDate" name="thruDate" dateFormat="dd/mm/yy" [showIcon]="true" type='Date'></p-calendar>
        </div>
      </div>
      <!-- contractHours -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="contractHours">{{'Contract Hours'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
            <p-spinner formControlName="contractHours" [(ngModel)]="timesheet.contractHours"></p-spinner>
        </div>
      </div>
      <!-- actualHours -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="actualHours">{{'Actual hours'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
            <p-spinner formControlName="actualHours" [(ngModel)]="timesheet.actualHours"></p-spinner>
        </div>
      </div>
  </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!newTimesheet" type="button" pButton icon="fa-trash" (click)="confirm()" label="{{'Delete'|i18n}}"></button>
        <button type="submit" pButton icon="fa-check" label="{{'Save'|i18n}}" [disabled]="!form.valid"></button>
      </div>
    </p-footer>
  </form>

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</p-dialog>
