<h3 class="first">{{'GP_MENU_00334'|i18n}}</h3>


<p-growl [life]=10000 [sticky]="false" [value]="msgs"></p-growl>

<router-outlet></router-outlet>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="{{'Global Filter'|i18n}}">
</div>

<p-dataTable [value]="timesheets"
            [rows]="5"
            scrollable="true"
            scrollHeight="260px"
            sortMode="multiple"
            [responsive]="true"
            resizableColumns="true"
            [responsive]="true"
            columnResizeMode="expand"
            dataKey="timesheetId"
            #dt exportFilename="timesheets">    
    <p-column [filter]="true" filterMatchMode="contains" [style]="{'width':'30%'}" field="partyName" header="{{'Party'|i18n}}" [sortable]="true"></p-column>
    <p-column [filter]="true" filterMatchMode="contains" [style]="{'width':'20%'}" field="fromDate" header="{{'From Date'|i18n}}" [sortable]="true">
        <ng-template let-col let-row="rowData" pTemplate>
            <span>{{row[col.field] | date:i18nService.getFormat('date-short')}}</span>
        </ng-template>
    </p-column>
    <p-column [filter]="true" filterMatchMode="contains" [style]="{'width':'20%'}" field="thruDate" header="{{'Thru Date'|i18n}}" [sortable]="true">
        <ng-template let-col let-row="rowData" pTemplate>
          <span>{{row[col.field] | date:i18nService.getFormat('date-short')}}</span>
        </ng-template>
    </p-column>

    <p-column [filter]="true" filterMatchMode="contains" [style]="{'width':'20%'}" styleClass="text-align-right" field="contractHours" header="{{'Contract Hours'|i18n}}" [sortable]="true">
        <ng-template let-col let-row="rowData" pTemplate>
          <span>{{row[col.field] | number:formatNumber}}</span>
        </ng-template>
    </p-column>

    <p-column [filter]="true" filterMatchMode="contains" [style]="{'width':'20%'}" styleClass="text-align-right" field="actualHours" header="{{'Actual Hours'|i18n}}" [sortable]="true">
      <ng-template let-col let-row="rowData" pTemplate>
        <span>{{row[col.field] | number:formatNumber}}</span>
      </ng-template>
    </p-column>

    <p-column [style]="{'width':'10%'}" styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()"></button>
            <button type="button" pButton icon="far fa-file" (click)="dt.exportCSV()" ></button>
        </ng-template>
          <ng-template let-timesheet="rowData" pTemplate="body">
            <button type="button" pButton icon="fa-chevron-right" (click)="onRowSelect(timesheet)"></button>
            <button type="button" pButton icon="fa-pencil-alt" (click)="selectTimesheet(timesheet)"></button>
        </ng-template>
    </p-column>
</p-dataTable>

<p-confirmDialog header="{{'Confirmation'|i18n}}" icon="fa fa-question-circle" acceptLabel="{{'Yes'|i18n}}" rejectLabel="{{'No'|i18n}}"></p-confirmDialog>



<p-dialog header="{{'Timesheet Detail'|i18n}}" width="900" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <form [formGroup]="form" novalidate (ngSubmit)="save()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="timesheet">

      
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="partyId">{{'Party'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-autoComplete formControlName="partyId" required [(ngModel)]="timesheet.partyName" [suggestions]="filteredActivitiesParty" 
              (completeMethod)="filterActivitiesParty($event)" (onSelect)="onSelect($event)" [minLength]="1" placeholder="Inizia a scrivere..." [dropdown]="true">
              <ng-template let-record pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div>{{record}}</div>
                </div>
              </ng-template>
          </p-autoComplete>          
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['partyId'].valid&amp;&amp;form.controls['partyId'].dirty">
            <i class="fa fa-times"></i>
            {{'Party is required'|i18n}}
          </div>
        </div>
      </div>

      <!-- From date -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="fromDate">{{'From Date'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-calendar [locale]="i18nService.getCalendarLocale()" formControlName="fromDate" [(ngModel)]="timesheet.fromDate" dateFormat="{{'date-short-pcalendar'|i18nDate}}" name="fromDate" required [showIcon]="true"></p-calendar>
        </div>
      </div>
      <!-- Thru date -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="thruDate">{{'Thru Date'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-calendar [locale]="i18nService.getCalendarLocale()" formControlName="thruDate" [(ngModel)]="timesheet.thruDate" dateFormat="{{'date-short-pcalendar'|i18nDate}}" name="thruDate" required [showIcon]="true"></p-calendar>
        </div>
      </div>
      <!-- contractHours -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="contractHours">{{'Contract Hours'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
              <input type="number" 
                 formControlName="contractHours"
                 class="ui-inputtext ui-widget ui-state-default ui-corner-all"
                 [(ngModel)]="timesheet.contractHours"
                 />
        </div>
      </div>
      <!-- actualHours -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="actualHours">{{'Actual Hours'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
          <input type="number" 
                 formControlName="actualHours"
                 class="ui-inputtext ui-widget ui-state-default ui-corner-all"
                 [(ngModel)]="timesheet.actualHours"
                 />
        </div>        
      </div>
  </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!newTimesheet" type="button" pButton icon="fa-trash-alt" (click)="confirm()" label="{{'Delete'|i18n}}"></button>
        <button type="submit" pButton icon="fa-check" label="{{'Save'|i18n}}" [disabled]="!form.valid"></button>
      </div>
    </p-footer>
  </form>

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</p-dialog>
