doctype html
html
  head
    title=title
  body(style={height: 'auto', overflow: 'auto', margin:0, padding: 0, 'background-color': '#c4e9e7', position: 'relative'})
    .main(style={padding: '1em'})
      .column(style={width: '60%', 'margin-left': '20%'})
        h1=message
        h2=info
        h3 Sit odio mattis
        p Vestibulum at laboriosam eu non magna. Adipiscing volutpat quam nulla non lorem. Convallis arcu est nulla rhoncus aliquam urna congue ut. Vestibulum rhoncus torquent leo nec nullam odio malesuada neque porta nisl ac ut eget nec. Leo integer sit nunc est ultrices. Amet neque rerum. Consectetuer ut a. Lacinia porta ad.
        #content
    iframe#pippo(style={position: 'absolute', top: 0, bottom: 0, left: 0, height: '100%', width: 0, border: 0, 'background-color': 'transparent'})
    script.
      function appendBox() {
        document.getElementById('content').innerHTML += '<div style="padding: 20px; width: 300px; height: 500px; background-color: red;"></div>';
      }
      setTimeout(appendBox, 1000);
      setTimeout(appendBox, 4000);
      setTimeout(appendBox, 7000);
      var n = 0;
      var w = window.top;
      document.getElementById('pippo').contentWindow.addEventListener('resize', function(ev) {
        console.log('IFRAME RESIZED: ' + n++, ev);
        console.log('IFRAME SIZE: ' + ev.target.document.body.clientHeight);
        w.postMessage(ev.target.document.body.clientHeight, '*');
      });
      console.log('CONTENT LOADED');
      
