<p-toast></p-toast>

<p-card>
  <ng-template pTemplate="body">
    <app-table [isAction]="true" [headArray]="headArray" [gridArray]="gridArray" [formShape]="form" [sortField]="'id'"
      [itemsButtonSlideMenu]="itemsButtonSlideMenu" [selectionMode]="'single'" [clickFrameToGo]="'frame_details'"
      [rowExpand]="true" (clickRowSelectEvent)="onRowSelect($event)"></app-table>
</ng-template>
</p-card>

<!-- <div class="card mb-3">
  <p-dialog  header="{{'Query Config Detail'|i18n}}" width="900" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <p>{{this.queryConfig.queryInfo}}</p>
  </p-dialog> 
</div> -->