/*----------------------------------------------------------------------------*/
/* table style                                                                */
/*----------------------------------------------------------------------------*/
p-datatable {
    text-align: center;
}

p-datatable td.col-button {
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/* Toast                                                                      */
/*----------------------------------------------------------------------------*/
p-growl {
  text-align: center;
}

p-growl div.ui-growl {
    position: fixed;
    top: 200px;
    right: 20px;
    width: 20em;
}
