<h3 class="first">{{'GP_MENU_00006'|i18n}}</h3>

<p-growl [life]=10000 [sticky]="false" [value]="msgs"></p-growl>

<p-dataTable [value]="uomTypes"
            sortMode="multiple"
            resizableColumns="true"
            [responsive]="true"
            #dt exportFilename="uomTypes">
    <p-column [style]="{'width':'30%'}" field="uomTypeId" header="{{'Uom Type Id'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'60%'}" field="description" header="{{'Description'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'10%'}" styleClass="col-button">
        <ng-template pTemplate="header">
            <button placement="top" ngbTooltip="{{'Add'|i18n}}" container="body" type="button" pButton icon="fa-plus" (click)="showDialogToAdd()"></button>
            <button placement="top" ngbTooltip="{{'Export'|i18n}}" container="body" type="button" pButton icon="far fa-file" (click)="dt.exportCSV()" ></button>          
        </ng-template>
        <ng-template let-uomType="rowData" pTemplate="body">
            <button placement="top" ngbTooltip="{{'Modify'|i18n}}" container="body" type="button" pButton icon="fa-pencil-alt" (click)="selectUomType(uomType)"></button>
        </ng-template>
    </p-column>
</p-dataTable>

<p-confirmDialog header="{{'Confirmation'|i18n}}" icon="fa fa-question-circle" acceptLabel="{{'Yes'|i18n}}" rejectLabel="{{'No'|i18n}}"></p-confirmDialog>

<p-dialog header="{{'Uom Type Detail'|i18n}}" width="900" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <form [formGroup]="form" novalidate (ngSubmit)="save()">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="uomType">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="uomTypeId">{{'Uom Type Id'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText class="form-control" formControlName="uomTypeId" required [(ngModel)]="uomType.uomTypeId" maxlength="20"/>
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['uomTypeId'].valid&amp;&amp;form.controls['uomTypeId'].dirty">
            <i class="fa fa-times"></i>
            <span *ngIf="form.controls['uomTypeId'].errors['required']">{{'Uom Type Id is required'|i18n}}</span>
            <span *ngIf="form.controls['uomTypeId'].errors['maxLenght']">{{'Uom Type Id must be not longer than 20'|i18n}}</span>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="description">{{'Description'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText class="form-control" formControlName="description" required [(ngModel)]="uomType.description"/>
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['description'].valid&amp;&amp;form.controls['description'].dirty">
            <i class="fa fa-times"></i>
            <span *ngIf="form.controls['description'].errors['required']" pippo="Description is required">{{'Description is required'|i18n}}</span>
            <span *ngIf="form.controls['description'].errors['maxLenght']">{{'Description must be not longer than 255'|i18n}}</span>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!newUomType" type="button" pButton icon="fa-trash-alt" (click)="confirm()" label="{{'Delete'|i18n}}"></button>
        <button type="submit" pButton icon="fa-check" label="{{'Save'|i18n}}" [disabled]="!form.valid"></button>
      </div>
    </p-footer>
  </form>

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</p-dialog>
