<p>
  uom-type works!
</p>

<h3 class="first">Basic</h3>
<p-dataTable [value]="cars" scrollable="true" scrollHeight="50px" virtualScroll="virtualScroll"
            [lazy]="true" [rows]="3"
            sortMode="multiple"
            [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)">
    <p-header>List of UomType</p-header>
    <p-column field="uomTypeId" header="Vin" [sortable]="true"></p-column>
    <p-column field="description" header="Color" [sortable]="true"></p-column>
</p-dataTable>
