@import "~styles/_measures";

.contentlayout-container{
    margin-top: 60px;
    margin-left: $sidebar-width;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

