@import "~styles/_measures";

.contentlayout-container{
    margin-top: $header-height;
    margin-left: $sidebar-width;
    padding: 1.5em 1em;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}