<h3 class="first">{{'GP_MENU_00335'|i18n}}</h3>

<p-growl [life]=10000 [sticky]="false" [value]="msgs"></p-growl>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="{{'Global Filter'|i18n}}">
</div>

<form (ngSubmit)="saveTimeEntry()">
  <p-dataTable [editable]="true" [(value)]="timeEntries" scrollable="true" sortMode="multiple" [responsive]="true"
    [globalFilter]="gb" resizableColumns="true" [responsive]="true" columnResizeMode="expand" dataKey="timeEntryId" #dt exportFilename="timeEntries">
      <p-column datakey="workEffortId" field="description" header="{{'Work Effort'|i18n}}" [sortable]="true" [style]="{'width':'80%'}"
        [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'Search...'|i18n}}">
        <!-- field="description"  cambia la description ma non l'id 
		<ng-template pTemplate="filter" let-col>
          <p-dropdown appendTo="body" [autoWidth]="false" [options]="workEffortSelectItem" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode);" styleClass="ui-column-filter"></p-dropdown>
        </ng-template> -->
        <!-- <ng-template let-ri="rowIndex" let-col let-row="rowData" pTemplate="body">
          <div>
            <p-dropdown name="workEffortId_o_{{ri}}" appendTo="body" [(ngModel)]="row[col.field]" [options]="workEffortSelectItem" [autoWidth]="false" [style]="{'width':'100%'}" required="true"></p-dropdown>
          </div>
        </ng-template> -->          
        <ng-template let-ri="rowIndex" let-col let-row="rowData" pTemplate="body">
          <p-autoComplete name="workEffortId_o_{{ri}}" [(ngModel)]="row[col.field]" [suggestions]="filteredActivities" 
          (onDropdownClick) = "onDropdownClick($event)" (onSelect)="onSelect($event, ri)" (completeMethod)="filterActivities($event)"
            [minLength]="1" placeholder="Inizia a scrivere..." [dropdown]="true" appendTo="body" [style]="{'width':'95%'}" [inputStyle]="{'width':'95%'}">
            <ng-template let-record pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div>{{record}}</div>
                </div>
            </ng-template>
          </p-autoComplete>
        </ng-template>
      </p-column>
      <p-column field="percentage" header="{{'Percentage'|i18n}}" [sortable]="true" [editable]="true" styleClass="text-align-right">
        <ng-template let-ri="rowIndex" let-col let-row="rowData" pTemplate="body">
            <span>{{row[col.field]}}</span>
        </ng-template>
        <ng-template let-ri="rowIndex" let-col let-row="rowData" pTemplate="editor">
            <p-spinner input="number" name="percentage_o_{{ri}}" [(ngModel)]="row[col.field]" [min]="0" [max]="100"></p-spinner>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'10%'}" styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()"></button>
            <button type="submit" pButton icon="fa-check"></button>
            <button type="button" pButton icon="far fa-file" (click)="dt.exportCSV()" ></button>
        </ng-template>
        <ng-template let-timeEntry="rowData" pTemplate="body">
          <button type="button" pButton icon="fa-trash-alt" (click)="confirmDeleteTimeEntry(timeEntry)"></button>
        </ng-template>
      </p-column>      
      <p-footerColumnGroup>
        <p-row>
            <p-column footer="{{'Totals:'|i18n}}" [style]="{'width':'80%','text-align':'right'}"></p-column>
            <p-column [(footer)]="totalPercentage" [style]="{'text-align':'right'}"></p-column>
            <p-column footer="" [style]="{'width':'10%'}"></p-column>
        </p-row>
    </p-footerColumnGroup>
  </p-dataTable>
</form>

<p-confirmDialog header="{{'Confirmation'|i18n}}" icon="fa fa-question-circle" acceptLabel="{{'Yes'|i18n}}" rejectLabel="{{'No'|i18n}}"></p-confirmDialog>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>
