<h3 class="first">{{'GP_MENU_00335'|i18n}}</h3>

<p-growl [life]=10000 [sticky]="false" [value]="msgs"></p-growl>

<p-dataTable [value]="timesheets"
            [rows]="5"
            scrollable="true"
            scrollHeight="260px"
            sortMode="multiple"
            [responsive]="true"
            [globalFilter]="gb"
            resizableColumns="true"
            [responsive]="true"
            columnResizeMode="expand"
            dataKey="timesheetId"
            #dt exportFilename="timesheets">

    <p-column [style]="{'width':'20%'}" field="partyName" header="{{'Party'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="fromDate" header="{{'From Date'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="thruDate" header="{{'Thru Date'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="contractHours" header="{{'Contract Hours'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'20%'}" field="actualHours" header="{{'Actual Hours'|i18n}}" [sortable]="true"></p-column>
    <p-column [style]="{'width':'10%'}" styleClass="col-button">        
        <ng-template let-timesheet="rowData" pTemplate="body">
            <button type="button" pButton icon="fa-eye" (click)="onRowSelect(timesheet)"></button>
        </ng-template>
    </p-column>
</p-dataTable>

<p-dialog header="{{'Time Entry List'|i18n}}" width="900" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  
  <p-dataTable [value]="timeEntries" [rows]="5" scrollable="true" scrollHeight="260px" sortMode="multiple" [responsive]="true"
    [globalFilter]="gb" resizableColumns="true" [responsive]="true" columnResizeMode="expand" dataKey="timeEntryId" #dt exportFilename="timeEntries">
  
    <p-column [style]="{'width':'20%'}" field="workEffortId" header="{{'Work Effort'|i18n}}" [sortable]="true">
        <p-dropdown [options]="workEffortSelectItem" [(ngModel)]="selectedWorkEffortId" [autoWidth]="false"
          [style]="{'width':'100%'}">
        </p-dropdown>
    </p-column>
    <p-column [style]="{'width':'20%'}" field="timeEntries.percentage" header="{{'Percentage'|i18n}}" [sortable]="true" [editable]="true">
      <ng-template pTemplate let-col let-row="rowData">
          <input type="number" [(ngModel)]="row[col.field]"/>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'10%'}" styleClass="col-button">
      <ng-template pTemplate="header">
        <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()"></button>
      </ng-template>
    </p-column>
  </p-dataTable>

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</p-dialog>
