<p-toast></p-toast>
<p>
  <p-dialog closeIcon="fa fa-close" header="{{'Change Password'|i18n}}" [modal]="true" 
  [(closable)]="!requirePasswordChange&amp;&amp;!loading" 
  [dismissableMask]="!requirePasswordChange&amp;&amp;!loading" [closeOnEscape]= "!requirePasswordChange&amp;&amp;!loading" 
    [(visible)]="displayChangePassword" showEffect="fade" [style]="{width: '30vw', height: '25vw'}">
    <form (ngSubmit)="changePassword()" [formGroup]="formChangePassword" >
      <div class="ui-g" style="margin-bottom: 1em">
        <div class="ui-g-12">
          <label for="currentPassword">{{'Current Password'|i18n}}*</label>
        </div>
        <div class="ui-g-12">
          <div>
            <input pPassword class="form-control" type="password" formControlName="currentPassword" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formChangePassword.controls['currentPassword'].valid&amp;&amp;formChangePassword.controls['currentPassword'].dirty">
            <i class="fa fa-times"></i>
            {{'Current Password is required'|i18n}}
          </div>
        </div>
      </div>
      <div class="ui-g" style="margin-bottom: 1em">
        <div class="ui-g-12">
          <label for="newPassword">{{'New Password'|i18n}}*:</label>
        </div>
        <div class="ui-g-12">
          <input pPassword class="form-control" type="password" formControlName="newPassword" />
        </div>
        <div class="ui-g-12">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formChangePassword.controls['newPassword'].valid&amp;&amp;formChangePassword.controls['newPassword'].dirty">
            <i class="fa fa-times"></i>
            {{'New Password is required'|i18n}}
          </div>
        </div>
      </div>
      <div class="ui-g" style="margin-bottom: 1em">
        <div class="ui-g-12">
          <label for="newPasswordVerify">{{'Verify new Password'|i18n}}*:</label>
        </div>
        <div class="ui-g-12">
          <input pPassword class="form-control" type="password" formControlName="newPasswordVerify" />
        </div>
        <div class="ui-g-12">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formChangePassword.controls['newPasswordVerify'].valid&amp;&amp;formChangePassword.controls['newPasswordVerify'].dirty">
            <i class="fa fa-times"></i>
            {{'Verify new Password is required'|i18n}}
          </div>
          <div class="ui-message ui-messages-error ui-corner-all"  *ngIf="!formChangePassword.controls['newPasswordVerify'].valid&amp;&amp;formChangePassword.controls['newPasswordVerify'].dirty||formChangePassword.hasError('notSame')">
            <i class="fa fa-times"></i>
            {{'Your new passwords are not match'|i18n}}
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="submit" pButton icon="fa fa-check" label="{{'Save'|i18n}}" [disabled]="loading || !formChangePassword.valid">
            <span *ngIf="loading">
              &nbsp; <i class="ion ion-load-c fa fa-spin"></i>
            </span>
          </button>
        </div>
      </p-footer>
    </form>
      
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </p-dialog>
</p>
