<h3 class="first">{{'GP_MENU_00332'|i18n}}</h3>

<p-growl [life]=10000 [sticky]="false" [value]="msgs"></p-growl>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="{{'Global Filter'|i18n}}">
</div>
<p-dataTable [value]="uoms"
            [rows]="5"
            scrollable="true"
            scrollHeight="260px"
            sortMode="multiple"
            [responsive]="true"
            [globalFilter]="gb" #dt
            exportFilename="uoms">
    <p-header>
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="{{'CSV'|i18n}}" (click)="dt.exportCSV()" style="float:left"></button>
      </div>
    </p-header>
    <p-column styleClass="col-button" [style]="{'width':'6%'}">
        <ng-template let-uom="rowData" let-ri="rowIndex" pTemplate="body">
          <button *ngIf="ri == selectedIndex" type="button" pButton icon="fa fa-chevron-down"></button>
          <button *ngIf="ri != selectedIndex" type="button" pButton (click)="onRowSelect([uom], ri)" icon="fa fa-chevron-right"></button>
        </ng-template>
    </p-column>
    <p-column [style]="{'width':'20%'}" field="uomTypeId" header="{{'Uom Type Id'|i18n}}"
    [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'Search...'|i18n}}"
    [sortable]="true"
    [editable]="false">
        <ng-template pTemplate="filter" let-col>
            <p-dropdown appendTo="body" [autoWidth]="false" [options]="uomTypeSelectItem" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode); onRowSelect(dt.dataToRender, 0)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
        <ng-template let-uom="rowData" pTemplate="body">
            <span>{{uom.uomType.description}}</span>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'20%'}" field="uomId" header="{{'Uom Id'|i18n}}"
    [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'Search...'|i18n}}"
    [sortable]="true"></p-column>
    <p-column [style]="{'width':'18%'}" field="description" header="{{'Description'|i18n}}"
    [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'Search...'|i18n}}"
    [sortable]="true"></p-column>
    <p-column [style]="{'width':'9%'}" field="abbreviation" header="{{'Abbr.'|i18n}}"
    [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'...'|i18n}}"
    [sortable]="true"></p-column>
    <p-column [style]="{'width':'7%'}" field="decimalScale" header="{{'Dec.'|i18n}}"
    [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'...'|i18n}}"
    [sortable]="true"></p-column>
    <p-column [style]="{'width':'7%'}" field="minValue" header="{{'Min'|i18n}}"
    [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'...'|i18n}}"
    [sortable]="true"></p-column>
    <p-column [style]="{'width':'7%'}" field="maxValue" header="{{'Max'|i18n}}"
    [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'...'|i18n}}"
    [sortable]="true"></p-column>
    <p-column [style]="{'width':'6%'}" styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()"></button>
        </ng-template>
        <ng-template let-uom="rowData" pTemplate="body">
            <button type="button" pButton icon="fa-pencil" (click)="selectUom(uom)"></button>
        </ng-template>
    </p-column>
</p-dataTable>

<p-confirmDialog header="{{'Confirmation'|i18n}}" icon="fa fa-question-circle" acceptLabel="{{'Yes'|i18n}}" rejectLabel="{{'No'|i18n}}"></p-confirmDialog>

<p-dialog header="{{'Uom Detail'|i18n}}" [(visible)]="displayDialog" width=900 [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'overflow':'visible'}">
  <form [formGroup]="form" novalidate (ngSubmit)="save()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="uom">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="uomTypeId">{{'Uom Type Id'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-dropdown [options]="uomTypeSelectItem" formControlName="uomTypeId" required [(ngModel)]="selectedUomTypeId"
           [autoWidth]="false" [style]="{'width':'100%'}">
          </p-dropdown>
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['uomTypeId'].valid&amp;&amp;form.controls['uomTypeId'].dirty">
            <i class="fa fa-close"></i>
            {{'Uom Type Id is required'|i18n}}
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="uomId">{{'Uom Id'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText class="form-control" formControlName="uomId" required [(ngModel)]="uom.uomId" placeholder="{{'Required'|i18n}}"/>
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['uomId'].valid&amp;&amp;form.controls['uomId'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="form.controls['uomId'].errors['required']">{{'Uom Id is required'|i18n}}</span>
            <span *ngIf="form.controls['uomId'].errors['maxLenght']">{{'Uom Id must be not longer than 20'|i18n}}</span>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="description">{{'Description'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText class="form-control" formControlName="description" required [(ngModel)]="uom.description" placeholder="{{'Required'|i18n}}"/>
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['description'].valid&amp;&amp;form.controls['description'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="form.controls['description'].errors['required']">{{'Description is required'|i18n}}</span>
            <span *ngIf="form.controls['description'].errors['maxLenght']">{{'Description must be not longer than 255'|i18n}}</span>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="abbreviation">{{'Abbreviation'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText class="form-control" formControlName="abbreviation" required [(ngModel)]="uom.abbreviation" placeholder="{{'Required'|i18n}}"/>
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['abbreviation'].valid&amp;&amp;form.controls['abbreviation'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="form.controls['abbreviation'].errors['required']">{{'Abbreviation is required'|i18n}}</span>
            <span *ngIf="form.controls['abbreviation'].errors['maxLenght']">{{'Abbreviation must be not longer than 60'|i18n}}</span>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="decimalScale">{{'Decimal Scale'|i18n}}*:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-spinner formControlName="decimalScale" required [(ngModel)]="uom.decimalScale" placeholder="{{'Required'|i18n}}" size="30"></p-spinner>
        </div>
        <div class="ui-grid-col-5">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['decimalScale'].valid&amp;&amp;form.controls['decimalScale'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="form.controls['decimalScale'].errors['required']">{{'Decimal Scale is required'|i18n}}</span>
            </div>
        </div>
      </div>
      <div *ngIf="'RATING_SCALE' != selectedUomTypeId" class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="minValue">{{'Minimum Value'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-spinner formControlName="minValue" [(ngModel)]="uom.minValue" size="30" [step]="0.01" decimalSeparator="{{'decimal-separator'|i18nNum}}" thousandSeparator="{{'thousand-separator'|i18nNum}}"></p-spinner>
        </div>
        <div class="ui-grid-col-5">
        </div>
      </div>
      <div *ngIf="'RATING_SCALE' != selectedUomTypeId" class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label for="maxValue">{{'Maximum Value'|i18n}}:</label>
        </div>
        <div class="ui-grid-col-4">
          <p-spinner formControlName="maxValue" [(ngModel)]="uom.maxValue" size="30" [step]="0.01" decimalSeparator="{{'decimal-separator'|i18nNum}}" thousandSeparator="{{'thousand-separator'|i18nNum}}"></p-spinner>
        </div>
        <div class="ui-grid-col-5">
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!newUom" type="button" pButton icon="fa-trash" (click)="confirm()" label="{{'Delete'|i18n}}"></button>
        <button type="submit" pButton icon="fa-check" label="{{'Save'|i18n}}" [disabled]="!form.valid"></button>
      </div>
    </p-footer>
  </form>

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>

</p-dialog>
<router-outlet></router-outlet>
