<p-toast></p-toast>
<!-- <div class=" mt-3 mb-3 container container_interfacciamentoDati " >
    <p style="font-size: 1.3em;"><b>{{'Insert file in format xlsx'|i18n}} </b></p>
</div> -->

<p-messages severity="info" >
    <ng-template pTemplate >
        <i class="pi pi-info-circle" style="font-size: 2rem; "></i>
        <div class="ml-2" style="margin-left: 1em" attr.aria-label="{{'Insert one file in format xlsx'|i18n}}"><b>{{'Insert one file in format xlsx'|i18n}} </b></div>
    </ng-template>
</p-messages>

<p-fileUpload [customUpload]="true" chooseLabel="{{'Select file'|i18n}}" (onClear)="onClear()" uploadLabel="{{'Update file'|i18n}}"  cancelLabel="{{'Cancel'|i18n}}" (uploadHandler)="onUploadHandler($event)" 
            multiple="false" accept=".xlsx" maxFileSize="1000000" (onRemove)="onClear()" >
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles">
                    <p-messages severity="error" *ngIf="showErrorButton">
                        <ng-template pTemplate >
                            <i class="pi pi-exclamation-circle" style="font-size: 2rem; "></i>
                            <div class="ml-2" style="margin-left: 1em" aria-label="Insert one file in format xlsx"><b>{{'An error occurred while inserting the file:'|i18n}} </b></div>
                            <button class="p-button-rounded p-button-danger" pRipple  type="button" *ngIf="showErrorButton" (click)="show()" pButton icon="pi pi-exclamation-circle" label="{{'Show Error'|i18n}}"></button>
                        </ng-template>
                    </p-messages>
                </ul>
            </ng-template>
    </p-fileUpload>


  <p-dialog  header="Error"  [(visible)]="showError" [responsive]="true" showEffect="fade" [modal]="true" role="dialog" attr.aria-label="{{'Error'|i18n}}">
    <p-message *ngIf="showError" severity="error" text="{{this.error}}"></p-message>
  </p-dialog> 



