/**
 * Focus page style.
 */
html, body {
  width: 100%;
  height: 100%;
}

.focuslayout-header {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #F8F8F8;
  background: transparent url("/assets/images/focuslayout-bg.jpg") no-repeat scroll center center / cover;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.focuslayout-footer {
  color: #5A5A5A;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
}

.focuslayout-container {
  position: relative;
  margin: 10% 0 10px;
  background-color: rgba(0, 0, 0, 0.51);
  padding: 5% 0 10%;
  border: 1px solid #696868;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.focuslayout-container input,
.focuslayout-container span {
  color: #676A6C;
}

.focuslayout-container h1 small {
  color: white;
}

.focuslayout-container .input-group-addon {
  background-color: #18A689;
  border-color: #18A689;
}

.focuslayout-container .input-group-addon .fa {
  color: white;
}

.focuslayout-container .link-inverse {
  color: #b3f5fa;
  text-decoration: underline;
}
