/* Master Styles */

/*----------------------------------------------------------------------------*/
/* Margins and paddings                                                       */
/*----------------------------------------------------------------------------*/

/* paddings */
.no-p-r { padding-right: 0 !important; }
.no-p-l { padding-left: 0 !important; }
.no-p-t { padding-top: 0 !important; }
.no-p-b { padding-bottom: 0 !important; }

.p-l-xs { padding-left: 5px; }
.p-l-xxs { padding-left: 1px; }
.p-l-sm { padding-left: 10px; }
.p-l-md { padding-left: 20px; }
.p-l-lg { padding-left: 30px; }
.p-l-xl { padding-left: 40px; }
.p-l-xxl { padding-left: 80px; }

.p-t-xs { padding-top: 5px; }
.p-t-xxs { padding-top: 1px; }
.p-t-sm { padding-top: 10px; }
.p-t-md { padding-top: 20px; }
.p-t-lg { padding-top: 30px; }
.p-t-xl { padding-top: 40px; }
.p-t-xxl { padding-top: 80px; }

.p-r-xs { padding-right: 5px; }
.p-r-xxs { padding-right: 1px; }
.p-r-sm { padding-right: 10px; }
.p-r-md { padding-right: 20px; }
.p-r-lg { padding-right: 30px; }
.p-r-xl { padding-right: 40px; }
.p-r-xxl { padding-right: 80px; }

.p-b-xs { padding-bottom: 5px; }
.p-b-xxs { padding-bottom: 1px; }
.p-b-sm { padding-bottom: 10px; }
.p-b-md { padding-bottom: 20px; }
.p-b-lg { padding-bottom: 30px; }
.p-b-xl { padding-bottom: 40px; }
.p-b-xxl { padding-bottom: 80px; }

/* margins */
.no-m-r { margin-right: 0 !important; }
.no-m-l { margin-left: 0 !important; }
.no-m-t { margin-top: 0 !important; }
.no-m-b { margin-bottom: 0 !important; }

.m-l-xs { margin-left: 5px; }
.m-l-xxs { margin-left: 1px; }
.m-l-sm { margin-left: 10px; }
.m-l-md { margin-left: 20px; }
.m-l-lg { margin-left: 30px; }
.m-l-xl { margin-left: 40px; }
.m-l-xxl { margin-left: 80px; }

.m-t-xs { margin-top: 5px; }
.m-t-xxs { margin-top: 1px; }
.m-t-sm { margin-top: 10px; }
.m-t-md { margin-top: 20px; }
.m-t-lg { margin-top: 30px; }
.m-t-xl { margin-top: 40px; }
.m-t-xxl { margin-top: 80px; }

.m-r-xs { margin-right: 5px; }
.m-r-xxs { margin-right: 1px; }
.m-r-sm { margin-right: 10px; }
.m-r-md { margin-right: 20px; }
.m-r-lg { margin-right: 30px; }
.m-r-xl { margin-right: 40px; }
.m-r-xxl { margin-right: 80px; }

.m-b-xs { margin-bottom: 5px; }
.m-b-xxs { margin-bottom: 1px; }
.m-b-sm { margin-bottom: 10px; }
.m-b-md { margin-bottom: 20px; }
.m-b-lg { margin-bottom: 30px; }
.m-b-xl { margin-bottom: 40px; }
.m-b-xxl { margin-bottom: 80px; }

/*----------------------------------------------------------------------------*/
/* Positioning                                                                */
/*----------------------------------------------------------------------------*/

.rel { position: relative; }
.z-5 { z-index: 5; }

.pos-t-l,
.pos-t-r,
.pos-b-l,
.pos-b-r,
.pos-t-l-sm,
.pos-t-r-sm,
.pos-b-l-sm,
.pos-b-r-sm,
.pos-t-l-md,
.pos-t-r-md,
.pos-b-l-md,
.pos-b-r-md,
.pos-t-l-lg,
.pos-t-r-lg,
.pos-b-l-lg,
.pos-b-r-lg {
  position: absolute;
}

.pos-t-l-sm, .pos-t-r-sm { top: 5px; }
.pos-b-l-sm, .pos-b-r-sm { bottom: 5px; }
.pos-t-r-sm, .pos-b-r-sm { right: 5px; }
.pos-t-l-sm, .pos-b-l-sm { left: 5px; }
.pos-t-l, .pos-t-r { top: 10px; }
.pos-b-l, .pos-b-r { bottom: 10px; }
.pos-t-r, .pos-b-r { right: 10px; }
.pos-t-l, .pos-b-l { left: 10px; }
.pos-t-l-md, .pos-t-r-md { top: 20px; }
.pos-b-l-md, .pos-b-r-md { bottom: 20px; }
.pos-t-r-md, .pos-b-r-md { right: 20px; }
.pos-t-l-md, .pos-b-l-md { left: 20px; }

/*----------------------------------------------------------------------------*/
/* Borders                                                                    */
/*----------------------------------------------------------------------------*/

.no-borders { border: none !important; }
.no-b-r { border-right: none !important; }
.no-b-l { border-left: none !important; }
.no-b-t { border-top: none !important; }
.no-b-b { border-bottom: none !important; }

.b-l-light { border-left: 1px solid #E3E3E3; }
.b-r-light { border-right: 1px solid #E3E3E3; }
.b-t-light { border-top: 1px solid #E3E3E3; }
.b-b-light { border-bottom: 1px solid #E3E3E3; }
