/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #18A689
);

/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  light: #E3E3E3,
  error: #ED5565,
  grey: #696868,
  navbar-hl: #FFF,
  navbar-fg: #999,
  navbar-bg: #222,
  overlay: rgba(0, 0, 0, 0.6)
);
