/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #18A689
);

/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  background: #e1e7e9,
  light: #E3E3E3,
  error: #ED5565,
  grey: #696868,
  navbar-hl: #FFF,
  navbar-fg: #999,
  navbar-bg: #222,
  overlay: rgba(0, 0, 0, 0.6)
);

$sidebar-colors: (
  tab-fg: white,
  tab-bg: lighten(map-get($app-colors, navbar-bg), 10%),
  tab-sel-bg: lighten(map-get($app-colors, navbar-bg), 20%),
  tab-border: lighten(map-get($app-colors, navbar-bg), 30%)
);
