/*----------------------------------------------------------------------------*/
/* Layout styles                                                              */
/*----------------------------------------------------------------------------*/
@import "~styles/_colors";
@import "~styles/_measures";

/*----------------------------------------------------------------------------*/
/* Sidebar                                                                    */
/*----------------------------------------------------------------------------*/
.sidebar {

  /* search bar (same color of navigation bar) */
  .search {
    background-color: map-get($app-colors, navbar-bg);
  }

  /* tab content (where menus are) */
  .tab-content {
    background-color: map-get($sidebar-colors, tab-sel-bg);
  }

  /* top tabs (same color of navigation bar) */
  .nav-tabs {
    background-color: map-get($app-colors, navbar-bg);
    padding-top: 20px;
    border-bottom: 1px solid map-get($sidebar-colors, tab-border);
  }

  .nav-tabs a.nav-link {
    color: darken(map-get($sidebar-colors, tab-fg), 20%);
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link.active:focus,
  .nav-tabs .nav-link.active:hover {
    color: map-get($sidebar-colors, tab-fg);
    background-color: map-get($sidebar-colors, tab-sel-bg);
    border-color: map-get($sidebar-colors, tab-border)
                  map-get($sidebar-colors, tab-border)
                  map-get($sidebar-colors, tab-sel-bg);
  }

  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link:hover {
    color: map-get($sidebar-colors, tab-fg);
    background-color: map-get($sidebar-colors, tab-bg);
    border-color: map-get($sidebar-colors, tab-border);
  }

  /* group of menu items */
  .list-group {
    a.list-group-item {
      background-color: map-get($sidebar-colors, tab-sel-bg);
      border: 0;
      border-radius: 0;
      color: map-get($app-colors, navbar-fg);
      text-decoration: none;
    }

    a:hover {
      background-color: darken(map-get($app-colors, navbar-bg), 5%);
      color: map-get($app-colors, navbar-hl);
    }

    a.active {
      background-color: darken(map-get($app-colors, navbar-bg), 5%);
      color: map-get($app-colors, navbar-hl);
    }
  }

  /* sidebar dropdown */
  .sidebar-dropdown {
    *:focus {
      border-radius: none;
      border: none;
    }

    .panel-title {
      font-size: 1rem;
      height: 50px;
      margin-bottom: 0;

      a {
        color: map-get($app-colors, navbar-fg);
        text-decoration: none;
        font-weight: 400;
        background-color: map-get($app-colors, navbar-bg);

        span {
          position: relative;
          display: block;
          padding: 1rem 1.5rem 0.75rem;
        }
      }

      a:focus,
      a:hover {
        color: map-get($app-colors, navbar-hl);
        outline: none;
        outline-offset: -2px;
      }
    }

    .panel-title:hover {
      background-color: darken(map-get($app-colors, navbar-bg), 5%);
    }

    .panel-collapse {
      border-radious: 0;
      border: none;

      .panel-body {
        .list-group-item {
          border-radius: 0;
          background-color: map-get($app-colors, navbar-bg);
          border: 0 solid transparent;

          a {
            color: map-get($app-colors, navbar-fg);
          }

          a:hover {
            color: map-get($app-colors, navbar-hl);
          }
        }

        .list-group-item:hover {
          background-color: darken(map-get($app-colors, navbar-bg), 5%);
        }
      }
    }
  }

  /* nested menu */
  .nested-menu {
    .list-group-item {
      cursor: pointer;
    }

    .nested {
      list-style-type: none;

      & > ul.submenu {
        display: none;
        height: 0;
      }

      &.expand > ul.submenu {
        display: block;
        list-style-type: none;
        height: auto;
        li {
          a {
            color: map-get($app-colors, navbar-hl);
            padding: 10px;
            display: block;
          }
        }
      }
    }
  }

}


/*----------------------------------------------------------------------------*/
/* Toast                                                                      */
/*----------------------------------------------------------------------------*/

p-growl div.ui-growl {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 20em;
}

/*----------------------------------------------------------------------------*/
/* DataTable button icon                                                      */
/*----------------------------------------------------------------------------*/

p-datatable td.col-button {
    text-align: center;
    width: 50px;
}

p-datatable th.col-button {
    width: 50px;
}

input, button, select, textarea {
    line-height: initial;
}
