/*----------------------------------------------------------------------------*/
/* General layout measures                                                    */
/*----------------------------------------------------------------------------*/

$sidebar-width: 250px;
$header-height: 64px;
