/*----------------------------------------------------------------------------*/
/* General layout measures                                                    */
/*----------------------------------------------------------------------------*/

$sidebar-width: 350px;
$header-height: 70px;
