@import "~styles/_measures";

@media screen {
    .push-right {
        .sidebar {
            left: $sidebar-width !important;
        }
    }
}

@media screen {
    .push-right {
        .contentlayout-container {
            margin-left: 0px !important;
        }
    }
}

@media screen {
    .sidebar {
      top: $header-height;
      left: 0px;
    }
  }
