/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #2c7ef1
);

//86abde
//B6DAFF 
//EDFBFF
/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  background-cl: #EDFBFF /*#e1e7e9*/,
  alt-cl: #DBEDFF,
  default-bg: transparent,
  default-cl: gray,
  active-cl:#232323,
  title-bg:  #B6DAFF,
  title-bd-cl: #cccccc,
  light: white,
  disabled: #cccccc,
  error: #ED5565,
  navbar-hl: #FFF,
  navbar-fg: #999,
  navbar-bg: #86abde,
  overlay: rgba(0, 0, 0, 0.6)
);

$sidebar-colors: (
  tab-fg: white,
  tab-cl: #232323,
  tab-bg: map-get($app-colors, navbar-bg),
  tab-sel-bg:  #B6DAFF,
  tab-border: lighten(map-get($app-colors, navbar-bg), 30%)
);


@import "default";
