/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #18A689
);

/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  background-cl: #ECF5EC /*#e1e7e9*/,
  alt-cl: #dee7d1,
  default-bg: transparent,
  default-cl: gray,
  active-cl:#232323,
  item-sidebar-active-cl: #232323,
  title-bg: #ECF5EC /* #c2ddc0*/,
  title-bd-cl: #cccccc,
  text-color: gray,
  text-contrast: grey,
  light: white,
  disabled: #cccccc,
  error: #ED5565,
  navbar-hl: #FFF,
  navbar-fg: #999,
  navbar-bg: #B6C5B5,
  toolbar-bg: #B6C5B5,
  color-primary: #111,
  color-black: #000,
  color-white: #fff,
  color-grey-10: #f5f5f0,
  color-grey-15: #f6f9fc,
  color-grey-20: #eee,
  color-grey-30: #ddd,
  color-grey-40: #a5abb0,
  color-grey-50: #5a6772,
  color-grey-60: #444e57,
  color-grey-80: #30373d,
  color-grey-90: #1c2024,

  color-5: #F4F3F0,
  color-10: #ECECE6,
  color-20: #E3E4DC,
  color-30: #D9DDD2,
  color-40: #CED5C8,
  color-50: #C2CDBF,
  color-60: #B6C5B5,
  color-70: #9EADA0,
  color-80: #87948C,
  color-90: #717C77,
  color-95: #5A6361,
 
  overlay: rgba(0, 0, 0, 0.6)
);

$sidebar-colors: (
  tab-fg: white,
  tab-cl: #232323,
  tab-bg: map-get($app-colors, navbar-bg),
  tab-sel-bg: #ECF5EC /* #C2DDC0*/,
  tab-border: lighten(map-get($app-colors, navbar-bg), 30%)
);


@import "default";

