/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #18A689
);

/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  background-cl: #ECF5EC /*#e1e7e9*/,
  alt-cl: #dee7d1,
  default-bg: transparent,
  default-cl: gray,
  active-cl:#232323,
  title-bg: #ECF5EC /* #c2ddc0*/,
  title-bd-cl: #cccccc,
  light: white,
  disabled: #cccccc,
  error: #ED5565,
  navbar-hl: #FFF,
  navbar-fg: #999,
  navbar-bg: #B6C5B5,
  overlay: rgba(0, 0, 0, 0.6)
);

$sidebar-colors: (
  tab-fg: white,
  tab-cl: #232323,
  tab-bg: map-get($app-colors, navbar-bg),
  tab-sel-bg: #ECF5EC /* #C2DDC0*/,
  tab-border: lighten(map-get($app-colors, navbar-bg), 30%)
);


@import "default";

