/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #00264d
);

//86abde
//B6DAFF 
//EDFBFF
/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  background-cl: #FFF
  /*#e1e7e9*/
  ,
  background-alt: #f2f7fb,
  alt-cl: #f4f5f8,
  default-bg: transparent,
  default-cl: #232323,
  active-cl: #232323,
  item-sidebar-active-cl: #FFF,
  text-color: #FFF,
  text-contrast: #FFF,
  title-bg: #FFF,
  title-bd-cl: #000000,
  toolbar-bg: #f4f4f4,
  light: white,
  disabled: #cccccc,
  error: #ED5565,
  navbar-hl: #FFF,
  navbar-fg: #FFF,
  navbar-bg: #000000,

  color-primary: #111,
  color-black: #000,
  color-white: #fff,
  color-grey-10: #f5f5f0,
  color-grey-15: #f6f9fc,
  color-grey-20: #eee,
  color-grey-30: #ddd,
  color-grey-40: #a5abb0,
  color-grey-50: #5a6772,
  color-grey-60: #444e57,
  color-grey-80: #30373d,
  color-grey-90: #1c2024,

  color-5: #fafafa,
  color-10: #fafafa,
  color-20: #fafafa,
  color-30: #fafafa,
  color-40: #fafafa,
  color-50: #fafafa,
  color-60: #fafafa,
  color-70: #fafafa,
  color-80: #fafafa,
  color-90: #fafafa,
  color-95: #fafafa,

  overlay: rgba(0, 0, 0, 0.6)
);

$sidebar-colors: (
  tab-fg: white,
  tab-cl: #232323,
  tab-bg: map-get($app-colors, navbar-bg),
  tab-sel-bg: #f4f5f8,
  tab-border: lighten(map-get($app-colors, navbar-bg), 30%)
);

@import "default";