/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #5d1c3c
);

//86abde
//B6DAFF 
//EDFBFF
/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  background-cl: #FFF /*#e1e7e9*/,
  background-alt: #f2f7fb,
  alt-cl: #f4f5f8,
  default-bg: transparent,
  default-cl: #232323,
  active-cl: #232323,
  item-sidebar-active-cl: #232323,
  text-color: #FFF,
  text-contrast: #000,
  title-bg:  #FFF,
  title-bd-cl: #cccccc,
  light: white,
  disabled: #cccccc,
  error: #ED5565,
  navbar-hl: #FFF,
  navbar-fg: #FFF,
  navbar-bg: #c93d82,
  toolbar-bg: #f4f4f4,
 
  color-primary: #111,
  color-black: #000,
  color-white: #fff,
  color-grey-10: #f5f5f0,
  color-grey-15: #f6f9fc,
  color-grey-20: #eee,
  color-grey-30: #ddd,
  color-grey-40: #a5abb0,
  color-grey-50: #5a6772,
  color-grey-60: #444e57,
  color-grey-80: #30373d,
  color-grey-90: #1c2024,

  color-5: #fdf2f8,
  color-10: #fce7f3,
  color-20: #fbcfe8,
  color-30: #f9a8d4,
  color-40: #f472b6,
  color-50: #ec4899,
  color-60: #db2777,
  color-70: #be185d,
  color-80: #9d174d,
  color-90: #831843,
  
  overlay: rgba(0, 0, 0, 0.6)
);

$sidebar-colors: (
  tab-fg: white,
  tab-cl: #232323,
  tab-bg: map-get($app-colors, navbar-bg),
  tab-sel-bg:  #f4f5f8,
  tab-border: lighten(map-get($app-colors, navbar-bg), 30%)
);


@import "default";
