/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #c98ae9
);

//#d0b4de
//#DFCCFF 
//#F6F0FA

/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  background-cl: #F6F0FA /*#e1e7e9*/,
  alt-cl: #EAE3F2,
  default-bg: transparent,
  default-cl: gray,
  active-cl:#232323,
  title-bg:  #DFCCFF,
  title-bd-cl: #cccccc,
  light: white,
  disabled: #cccccc,
  error: #ED5565,
  navbar-hl: #FFF,
  navbar-fg: #999,
  navbar-bg: #d0b4de,
  overlay: rgba(0, 0, 0, 0.6)
);

$sidebar-colors: (
  tab-fg: white,
  tab-cl: #232323,
  tab-bg: map-get($app-colors, navbar-bg),
  tab-sel-bg:  #DFCCFF,
  tab-border: lighten(map-get($app-colors, navbar-bg), 30%)
);

@import "default";
