<nav class="sidebar">
  <ngb-tabset justify="center">
    <ngb-tab *ngFor="let r of roots | async">
      <ng-template ngbTabTitle>
        <span ngbTooltip="{{r.label|i18n}}" placement="right" container="body">
          <i class="fa" [ngClass]="r.classes"></i>
        </span>
      </ng-template>
      <ng-template ngbTabContent>
        <ul class="list-group">
          <div *ngFor="let c of r.children">
            <div [ngSwitch]="menuType(c)">
              <app-leaf-menu *ngSwitchCase="'leaf'" [menu]="c"></app-leaf-menu>
              <app-folder-menu *ngSwitchCase="'folder'" [menu]="c"></app-folder-menu>
              <span *ngSwitchDefault></span>
            </div>
          </div>
        </ul>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</nav>
