<nav id="layout-sidebar">
    <span class="layout-logo">
        <a href="#" class="sidebar-logo">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#" id="menu-button-mobile">
            <i class="fa fa-bars"></i>
        </a>
    </span>

    <a id="menu_input">
        <i class="fa fa-bars"></i>
        <span>Input</span>
    </a>
    <div>
        <a>&#9679; AutoComplete</a>
        <a>&#9679; Calendar</a>
        <a>&#9679; Checkbox</a>
        <a>&#9679; Chips</a>
        <a>&#9679; Dropdown</a>
        <a>&#9679; Editor</a>
        <a>&#9679; InputSwitch</a>
        <a>&#9679; InputText</a>
        <a>&#9679; InputTextArea</a>
        <a>&#9679; Listbox</a>
        <a>&#9679; Mask</a>
        <a>&#9679; MultiSelect</a>
        <a>&#9679; Password</a>
        <a>&#9679; RadioButton</a>
        <a>&#9679; Rating</a>
        <a>&#9679; Slider</a>
        <a>&#9679; Spinner</a>
        <a>&#9679; SelectButton</a>
        <a>&#9679; ToggleButton</a>
        <a>&#9679; TriStateCheckbox</a>
    </div>

    <a id="menu_input">
        <i class="fa fa-bars"></i>
        <span>Input</span>
    </a>
    <div>
        <a>&#9679; AutoComplete</a>
        <a>&#9679; Calendar</a>
        <a>&#9679; Checkbox</a>
        <a>&#9679; Chips</a>
        <a>&#9679; Dropdown</a>
        <a>&#9679; Editor</a>
        <a>&#9679; InputSwitch</a>
        <a>&#9679; InputText</a>
        <a>&#9679; InputTextArea</a>
        <a>&#9679; Listbox</a>
        <a>&#9679; Mask</a>
        <a>&#9679; MultiSelect</a>
        <a>&#9679; Password</a>
        <a>&#9679; RadioButton</a>
        <a>&#9679; Rating</a>
        <a>&#9679; Slider</a>
        <a>&#9679; Spinner</a>
        <a>&#9679; SelectButton</a>
        <a>&#9679; ToggleButton</a>
        <a>&#9679; TriStateCheckbox</a>
    </div>

</nav>
