/**
 * Sidebar and menu.
 *
 * TODO move more colors into $app-colors
 */
@import "~styles/_colors";

.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 1000;
  top: 55px;
  left: 235px;
  width: 235px;
  margin-left: -235px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: map-get($app-colors, navbar-bg);
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  /* group of menu items */
  .list-group {
    a.list-group-item {
      background: map-get($app-colors, navbar-bg);
      border: 0;
      border-radius: 0;
      color: map-get($app-colors, navbar-fg);
      text-decoration: none;
    }
    a:hover {
      background: darken(map-get($app-colors, navbar-bg), 5%);
      color: map-get($app-colors, navbar-hl);
    }
    a.router-link-active {
      background: darken(map-get($app-colors, navbar-bg), 5%);
      color: map-get($app-colors, navbar-hl);
    }
  }

  /* sidebar dropdown */
  .sidebar-dropdown {
    *:focus {
      border-radius: none;
      border: none;
    }
    .panel-title {
      font-size: 1rem;
      height: 50px;
      margin-bottom: 0;
      a {
        color: map-get($app-colors, navbar-fg);
        text-decoration: none;
        font-weight: 400;
        background: map-get($app-colors, navbar-bg);
        span {
          position: relative;
          display: block;
          padding: .75rem 1.5rem;
          padding-top: 1rem;
        }
      }
      a:hover, a:focus {
        color: map-get($app-colors, navbar-hl);
        outline: none;
        outline-offset: -2px;
      }
    }

    .panel-title:hover {
      background: darken(map-get($app-colors, navbar-bg), 5%);
    }

    .panel-collapse {
      border-radious: 0;
      border: none;
      .panel-body {
        .list-group-item {
          border-radius: 0;
          background-color: map-get($app-colors, navbar-bg);
          border: 0 solid transparent;
          a {
            color: map-get($app-colors, navbar-fg);
          }
          a:hover {
            color: map-get($app-colors, navbar-hl);
          }
        }
        .list-group-item:hover {
          background: darken(map-get($app-colors, navbar-bg), 5%);
        }
      }
    }
  }
}

/* nested menu */
.nested-menu {
  .list-group-item {
    cursor: pointer;
  }
  .nested {
    list-style-type: none;
  }
  ul.submenu {
    display: none;
    height: 0;
  }
  & .expand {
    ul.submenu {
      display: block;
      list-style-type: none;
      height: auto;
      li {
        a {
          color: map-get($app-colors, navbar-hl);
          padding: 10px;
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    top: 54px;
    left: 0px;
  }
}
