<nav class="sidebar">

  <div class="container-fluid search p-t-md p-b-sm">
    <div class="row justify-content-md-center">
      <div class="col">
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'Search'|i18n}}">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <ngb-tabset justify="center">
    <ngb-tab *ngFor="let r of roots | async">
      <ng-template ngbTabTitle>
        <span ngbTooltip="{{r.label|i18n}}" placement="right" container="body">
          <i class="fa" [ngClass]="r.classes"></i>
        </span>
      </ng-template>
      <ng-template ngbTabContent>
        <ul class="list-group">
          <div *ngFor="let c of r.children">
            <div [ngSwitch]="menuType(c)">
              <app-leaf-menu *ngSwitchCase="'leaf'" [menu]="c"></app-leaf-menu>
              <app-folder-menu *ngSwitchCase="'folder'" [menu]="c"></app-folder-menu>
              <span *ngSwitchDefault></span>
            </div>
          </div>
        </ul>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</nav>
