/**
 * Sidebar and menu.
 *
 * TODO move more colors into $app-colors
 */
@import "~styles/_colors";
@import "~styles/_measures";

.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 1000;
  top: $header-height;
  left: $sidebar-width;
  width: $sidebar-width;
  margin-left: -$sidebar-width;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  // background-color: map-get($app-colors, navbar-bg);
  background-color: map-get($sidebar-colors, tab-sel-bg);
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  // padding-top: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 992px) {
  .sidebar {
    top: $header-height;
    left: 0px;
  }
}
