<p-toast></p-toast>

<p-card>
  <ng-template pTemplate="header"> <app-toolbar-data-table [gridArray]="gridArray" [buttonBack]="false"
      [buttonNew]="true" [buttonExport]="true" [isEditing]=""
      [dataTable]="dataTable"></app-toolbar-data-table></ng-template>
  <ng-template pTemplate="body"><app-table-calendar [isAction]="true"
      [headArray]="headArray"></app-table-calendar></ng-template>

</p-card>

<!-- ###################CONFIRM DELETE #################### -->

<!-- <p-confirmDialog #cd [style]="{width: '450px'}">
  <ng-template pTemplate="header" icon="pi pi-times-circle">
    <h3>{{'Attention'|i18n}}</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times-circle" label="No" (click)="cd.reject()"
      aria-label="select no"></button>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()" aria-label="select yes"></button>
  </ng-template>
</p-confirmDialog> -->