<div>
  <h1>Add a new Hero</h1>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>

<div>
  <h1>Other Heroes</h1>
  <ul class="heroes">
    <li *ngFor="let h of heroes" (click)="onSelect(h)" [class.selected]="h === selectedHero">
      <span class="badge">{{h.id}}</span>
      <span>{{h.name}}</span>
      <button class="delete" (click)="delete(h); $event.stopPropagation()">x</button>
    </li>
  </ul>
</div>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
