<div class="login">
  <img alt="Gzoom Logo" src="assets/images/icon.png">
  <h2 class="m-t-lg">{{'Login to Gzoom'|i18n}}</h2>
  <form role="form" name="form" (ngSubmit)="f.form.valid &amp;&amp; login()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': username.dirty &amp;&amp; !username.valid }">
      <label class="form-control-label" for="username">{{'Username'|i18n}}</label>
      <div class="input-group addon-md">
        <span class="input-group-addon addon-md"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      </div>
      <span *ngIf="username.dirty &amp;&amp; !username.valid" class="form-text">
          {{'Username is required'|i18n}}
        </span>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': password.dirty &amp;&amp; !password.valid }">
      <label class="form-control-label" for="password">{{'Password'|i18n}}</label>
      <div class="input-group addon-md">
        <span class="input-group-addon addon-md"><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      </div>
      <span *ngIf="password.dirty &amp;&amp; !password.valid" class="form-text">
        {{'Password is required'|i18n}}
      </span>
    </div>

    <div class="form-group">
      <button [disabled]="loading || !f.form.valid" class="btn btn-primary">
          {{'Login'|i18n}}
          <span *ngIf="loading">
            &nbsp; <i class="ion ion-load-c fa fa-spin"></i>
          </span>
        </button>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

  </form>
</div>
