/**
 * Focus page style.
 */
@import "~styles/_colors";

.focuslayout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  // padding-top: 200px;
  background-color: map-get($app-colors, background-cl);
  background-size: cover;
  color: map-get($app-colors, default-cl);

  > .container, > .container-fluid,
  > .container > .row, > .container-fluid > .row {
    height: 100%;
  }

  .focuslayout-container {
    position: relative;
    text-align: center;
    margin: 0;
    background-color: map-get($app-colors, navbar-bg);
    padding: 10% 3%;
    border: 1px solid map-get($app-colors, grey);
    border-radius: 5px;

    input, span {
      color: map-get($app-colors, grey);
      background-color: map-get($app-colors, background-cl);
    }

    h1 small {
      color: white;
    }

    .input-group-addon {
      background-color: map-get($inspinia-colors, primary);
      border-color: map-get($inspinia-colors, primary);
    }

    .input-group-addon .fa {
      color: white;
    }

    .link-inverse {
      color: #b3f5fa;
      text-decoration: underline;
    }
  }

  .focuslayout-footer {
    color: map-get($app-colors, grey);
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
  }
}
